*,
*::after,
*::before {
  box-sizing: border-box;
}

.image {
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  transition: all 1s ease;
  user-select: none;
  width: 17.5em;
}